BODY
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background: url(images/mainbackground.jpg);
	background-attachment: fixed;
	background-repeat: repeat-x;
    BACKGROUND-COLOR: 999966;
	padding-top: 5px;
	padding-left: 10px;
	
}

h1
{
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 24pt;
	color: black;
}

h2
{
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 18pt;
	color: black;
}

table
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	margin: 5em;
	border-collapse: collapse;
	
}

td, tr 
{ 
	padding: .3em;
	border: 3px #ccc groove; 
}

thead 
{ 
	background: #999933; 
}

tbody 
{ 
	color: black;
	 background: #999966; 
}

.one {
    position:absolute;/*positioned absolutely*/
    
	 left: 150px;
    width: auto;
    height: auto;
    font-family : Verdana, Arial, Helvetica, sans-serif;
	
 }
 
 .top {
 position:relative;
 font-size:24px;
 color:#CCCCCC;
 }
 
 .bot {
 position:relative;
 font-size:18px;
 color:#CCCCCC;
 }

/************************* ID's *************************/ 

#header {

position: absolute;

padding: 0 0 20px 0; /*top right bottom left*/ 

margin-top: 5px; 

margin-left:5px;

}

#mainDoc {

position: CENTER;

padding: 0 0 20px 0; /*top right bottom left*/ 

margin-top: 200px; 

/*margin-left:5px;*/

}

